::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
  display: none;
}
 
::-webkit-scrollbar-track-piece  {
  background-color: #3b3b3b;
  -webkit-border-radius: 6px;
}
 
::-webkit-scrollbar-thumb:vertical {
  background-color: #666;
  -webkit-border-radius: 6px;
}

.cabeça{
position: relative;
 }
 /*MENU*/
nav{
	position: absolute;
	background-color: rgba(0,77,64,.6);
	position: absolute;
}
nav li:hover{background-color: rgb(0,96,100);}

/*MENU MOBILE*/
.side-nav li a i.material-icons{
 	color:  white;
 }
#mobile-demo{
	background: #22c1c3;  
	background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
}

#mobile-demo li a{color: white;}

#mobile-demo p{background-color: rgba(0,77,64,.6);}

.img-mob{
	position: relative;
	top: 20%;
	width: 32px;
}
/*Elementos Flutuantes*/

.redes-f{
	position: fixed;
	left: 7px;
	bottom: 555px;
	z-index: 100;
}
.redes-s{
	position: fixed;
	left: 7px;
	bottom: 510px;
	z-index: 100;
}
/*REALIZAÇÃO*/
.real{
	background-color: rgba(255, 255, 255, .75);
	width: 10%;
	height: inherit;
	position: fixed;
	float: right; 
	right: 25px;
	bottom: 30%;
	z-index: 200;
	color: black;
	border-radius: 15px 50px 30px; 
	padding-top: 3%;
	padding-bottom: 3%;
	color: rgba(0,77,64,.8);
	text-align: center;
	font-size: 100%;}


.fundo{	width: 100%;}

@media only screen and (min-width: 992px) {/*Desktop*/
    .chamada-pai{ /*Desktop*/
	width: 50%;
	margin-left: 25%;
	position: absolute;
	top: 12vh;
	z-index: 2;
	padding-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: rgba(0,77,64,.75); 
	border-radius: 30px;
	}
}
@media only screen and (max-width: 991px) {/*Tablets e celulares*/
	.chamada-pai{ 
	width: 90%;
	margin-left: 5%;
	position: absolute;
	top: 12vh;
	z-index: 2;
	padding-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: rgba(0,77,64,.75); 
	border-radius: 5%;
	}
	.fundo{height: 90%;}
}
.chamada-pai i{color: white;}
.cad{
	background-color: rgba(0,77,64,.4); 
	border-radius: 5%;

}
#captcha{
	max-width: 300px;
	left: 50%;
	transform: translateX(-50%);
}

.g-recaptcha {
  transform-origin: left top;
  -webkit-transform-origin: left top;
}

/* CONFIGURAÇÔES Gerais */

.bloco{background-color:  rgb(0,77,64);}

.tite{
	font-size: 3vh;
 	color: white;
 	margin-bottom: 2%;
 	text-indent: 0vh;
 	text-align: center;
 	font-family: 'Paprika', cursive;
 	padding-top: 2%
 	}

.conteudo{
 	font-size: 2vh;
 	margin-bottom: 2%;
 	text-indent: 0vh;
 	text-align: center;
 	padding: 2%;
 	color: white;
 	font-family: 'Source Sans Pro', sans-serif;
 	line-height: 1.5rem;
 	}

.conteudo-footer{
 	font-size: 1.5rem;
 	padding-top: .2%;
 	letter-spacing: .5px;
 	
 	}

/* CONFIGURAÇÔES  Rodapé*/
footer a{
 	text-decoration: none;
 	display: inline;
}
@media screen and (max-width: 64rem){
  .f{font-size: 1.5em;}
}

@media screen and (max-width: 48rem){
  .f{font-size: 1.5em;}
}

@media screen and (max-width: 32rem){
  .f{font-size: 1.2em;}
}


#map {
        height: 300px;
        width: 100%;
       }

.copyright{	
	padding-top: .5%;
	background-color:rgb(207,216,220); 
}