body{
  background: #a1ffce; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a1ffce, #faffd1); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a1ffce, #faffd1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*  Scroll */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
  display: none;
}
 
::-webkit-scrollbar-track-piece  {
  background-color: #3b3b3b;
  -webkit-border-radius: 6px;
}
 
::-webkit-scrollbar-thumb:vertical {
  background-color: #666;
  -webkit-border-radius: 6px;
}

 /*MENU*/
nav{
  font-family: 'Paprika', cursive;
  background-color: rgb(0,96,100);
  vertical-align: baseline;
}
nav li:hover{
  background-color: rgba(0,96,100,.4);
 }
 @media only screen and (min-width: 601px){/*NEWWWWWWWWWWW*/
 nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i, nav i, nav i.material-icons{
  height: 46px;
  line-height: 46px;

}}
.nav-wrapper{
  vertical-align: baseline;
}
nav .brand-logo{
  font-size: 1.5rem;
}
.img-logo{
width: 25px;
margin-right: 5%;
}


/* NEWWWWWWWW*/
/* Container */
.container-cards{
  width: 70%;
  margin-left: 5%;
}
.pad{
	padding-top: 1%;
}

#menu-pesquisa{ 
  background-color: rgba(0,96,100,.6);
}
.filtros{
  background-color: rgba(255, 255, 255, .75);
  width: 20%;
  height: 80%;
  position: absolute;
  float: right; 
  top: 10%;
  right: 25px;
  border-radius: 20px 0px 0px 20px; 
  padding-top: 1%;
  padding-bottom: 2%;
  padding-right: 1%;
  padding-left: 1%;
  color: rgba(0,77,64,.8);
  text-align: center;
  font-size: 100%;
  overflow-y: scroll;} /*NEWWWWWWW*/

.filtro-title{
  font-family: 'Paprika', cursive;
  font-weight: bold;
  font-size: 1.5rem;
}
.esp-2{
  margin-top: 5%;
}

/*  Scroll */
.filtros::-webkit-scrollbar{width: 10px; height: 10px;}
.filtros::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment{display: none;}
.filtros::-webkit-scrollbar-track-piece{
  background-color: rgba(0,96,100,.6);
  -webkit-border-radius: 6px;}
.filtros::-webkit-scrollbar-thumb:vertical {
  background-color: color: rgb(0,77,64);
  -webkit-border-radius: 6px;}

.but-filtro a{
  padding-right: 1px;
  padding-left: 1px;
  position: relative;
  bottom: 1px;
}

@media only screen and (min-width: 601px){/*NEWWWWWWWWWWW*/
 nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i, nav i, nav i.material-icons{
  height: 46px;
  line-height: 46px;

}}

.picker_holder{
  position: relative;
}

.topo{
  display: none;
  position: fixed;
  right: 8%;
  bottom: 2%;
  z-index: 100;
}

#topo{
  display: none;
}

/*Até aqui foi tudo newww*/

.title{
  color: rgb(0,96,100);
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: .5px;
  line-height: 1.2em;
 }


/* Cartões de Interesses */

.grid-sizer{
  width: 33%;
}

.grid-item { 
  width: 33%; }


.bloco{
  display: inline-block;
  margin-top: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: -3px 5px 25px 0px rgba(51, 50, 50, 1);
  -moz-box-shadow:    -3px 5px 25px 0px rgba(51, 50, 50, 1);
  box-shadow:         -3px 5px 25px 0px rgba(51, 50, 50, 1);
  border-radius: 20px;
}

.img{
  width: auto;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.card-title{
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: .5px;
  line-height: 1.2em;
  margin-top: 3%;
  margin-bottom: 2%;
}
.card-autor{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-style: italic;
  margin-top: 2%;
  margin-bottom: 5%;
}
.card-data{
  margin-top: 5%;
  font-size: 1.2vw;
}
.date-local{
  font-weight: bold;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  font-size: 1vw;
}

.topic{
  margin-bottom: 3%;
}

.card-data span{
  font-weight: bold;
  color:  teal;
}

.card-b{
  margin-top: 5%;
}
