body{
  background: #a1ffce; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a1ffce, #faffd1); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a1ffce, #faffd1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Scroll */ 

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
  display: none;
}
 
::-webkit-scrollbar-track-piece  {
  background-color: #3b3b3b;
  -webkit-border-radius: 6px;
}
 
::-webkit-scrollbar-thumb:vertical {
  background-color: #666;
  -webkit-border-radius: 6px;
}

 /*MENU*/
nav{
  font-family: 'Paprika', cursive;
  background-color: rgb(0,96,100);
  vertical-align: baseline;
}
nav li:hover{
  background-color: rgba(0,96,100,.4);
 }
 @media only screen and (min-width: 601px){
 nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
height: 46px;
  line-height: 46px;
}}
.nav-wrapper{
  vertical-align: baseline;
}
nav .brand-logo{
  font-size: 1.5rem;
}
.img-logo{
width: 25px;
margin-right: 5%;
}


/* Container */

.card-title{
	color: black;
}
.pad{
	padding-top: 3%;
}

.title{
  color: rgb(0,96,100);
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: .5px;
  line-height: 1.2em;
  }

.card{
  position:  relative;
  display: flex;
}