::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
  display: none;
}
 
::-webkit-scrollbar-track-piece  {
  background-color: #3b3b3b;
  -webkit-border-radius: 6px;
}
 
::-webkit-scrollbar-thumb:vertical {
  background-color: #666;
  -webkit-border-radius: 6px;
}

.cabeça{
position: relative;
 }
 /*MENU*/
nav{
	position: absolute;
	background-color: rgba(0,77,64,.6);
	position: absolute;
}
nav li:hover{
 	background-color: rgb(0,96,100);
 }

 .side-nav li a i.material-icons{
 	color:  white;
 }
 /*MENU MOBILE*/
#mobile-demo{
	background: #22c1c3;  
	background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
}
#mobile-demo li {
	color: white;
}
#mobile-demo li a{
	color: white;
}
#mobile-demo p{
	background-color: rgba(0,77,64,.6);
}
.img-mob{
	position: relative;
	top: 20%;
	width: 32px;
}


/*Elementos Flutuantes*/
.convite{
	display: none;
	position: fixed;
	left: 7px;
	bottom: 25px;
	z-index: 100;
}

#convite{
	display: none;
}

.convite-m{
	position: fixed;
	right: 2.5%;
	bottom: 2.5%;
	z-index: 100;
}
.convite-m2{
	bottom: 15.5%;
	right: 2.5%;
}

#menuReserva{
	display: none;
}

#menuReservaM{
	display: none;
}
#menuReservaM2{
	display: none;
}
.redes-f{
	position: fixed;
	left: 7px;
	bottom: 555px;
	z-index: 100;
}
.redes-s{
	position: fixed;
	left: 7px;
	bottom: 510px;
	z-index: 100;
}
.redes{
	width: 100%;
	min-height: 50%;
}
/*REALIZAÇÃO*/
.real{
	background-color: rgba(255, 255, 255, .75);
	width: 10%;
	height: inherit;
	position: fixed;
	float: right; 
	right: 25px;
	bottom: 30%;
	z-index: 200;
	color: black;
	border-radius: 15px 50px 30px; 
	padding-top: 3%;
	padding-bottom: 3%;
	color: rgba(0,77,64,.8);
	text-align: center;
	font-size: 100%;}

 /* CHAMADA  */
.img-cidade{
	width: 100%;	
	min-height: 50%;}

.chamada-pai{ /*CIDADE SOCIAL*/
	width: 60%;
	margin-left: 20%;
	position: absolute;
	top: 15vh;
	padding-left: 5%;
	padding-right: 5%;
}
.cham-t-princ{/*CIDADE SOCIAL*/
	color: rgba(255, 255, 255, .75);
	font-size: 10vw;
	font-family: 'Paprika', cursive;
	line-height: 1.25em;
	text-shadow: .02em .02em 10px  rgb(255, 255, 255);
		/*DESLOC.X   DESLOC.Y    Borrão     COR */
}
.cad{
	background-color: rgba(0,77,64,.4); 
	border-radius: 5%;
}

/*TEXTOS DAS Imagens PARALAX*/
.chamada-tit{/*Caixa*/
	position: absolute;
	top: 25%;
	z-index: 2;
	background-color:  rgba(255, 255, 255, .65);
	margin-left: 5%;	
	padding: 1%;
	box-shadow: .1em .1em 30px rgba(255, 255, 255,.6);
	/*DESLOC.X   DESLOC.Y    Borrão     COR */
}
.cham-tit{
	color:rgba(0,77,64,.8);
	text-align: center;
	font-size: 5vw;
	font-family: 'Paprika', cursive;
	line-height: 1.25em;
	text-shadow: .01em .01em 5px rgba(255, 255, 255, .2);
	/*DESLOC.X   DESLOC.Y    Borrão     COR */
}
.chamada-texto{/*Caixa*/
	position: absolute;
	top: 50%;
	right: 0%;
	width: 60%;
	z-index: 2;
	background-color:  rgba(255, 255, 255, .5);
	margin-right: 15%;	
	margin-left: 40%;
	padding: 1%;
}
.cham-texto{
	color: rgba(0,77,64,.8);
	text-align: center;
	font-size: 12pt;
	font-family: 'Roboto', sans-serif;
	line-height: 1.25em;
	font-weight: bold;
}
/*Para as Animações de movimentação dos textos no paralax*/
#Ptit{left: -80%;}
#Ptexto{right: -80%;}

#Exetit{right: -80%;}
#Exetexto{left: -100%;}

#Conectit{top:-25%;}
#ConectTexto{top:120%;}

#trantit{left: -80%;}
#trantexto{right: -80%;}

#matit{right: -80%;}
#matexto{left: -100%;}

#apelotit{top:-25%;}
#apelotexto{top:120%;}

/* CONFIGURAÇÔES Gerais */
.parallax-container {
      height: 80%;
    }

.bloco{
background: #3E5151;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bloco2{
	background: #3A1C71; 
	background: -webkit-linear-gradient(to bottom, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bloco3{
background: #F3904F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bloco4{
background: #3D7EAA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tite{
 	color: white;
 	margin-bottom: 2%;
 	text-indent: 0vh;
 	text-align: center;
 	font-family: 'Paprika', cursive;
 	line-height: 1.5em;
 	}

.conteudo{
	color: white;
 	font-size: 1.5rem;
 	margin-bottom: 2%;
 	text-indent: 0vh;
 	text-align: center;
 	padding-top: .2%;
 	font-family: 'Source Sans Pro', sans-serif;
 	letter-spacing: .5px;
 	line-height: 1.2em;
 	}


.pad{
	padding-top: .8vh;
	padding-bottom: 2vh;
	padding-right:1%; 
	padding-left: 1%;
}

.pad2{
	margin-left: 2%;
	margin-right: 2%;
}


/*Cards Parallax*/
*{
  
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-card{
  width: calc(25% - 2rem);
  margin: .5rem;
  cursor: pointer;
}

.container-card{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.25rem;
	line-height: 1.4rem;
}

.back{
background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container-card:hover .front,
.container-card:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: .5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container-card .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container-card .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container-card:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container-card:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 1.2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgb(255,255,255);
  font-family: 'Montserrat';
  font-weight: 200;
}

@media screen and (max-width: 64rem){
  .col-card{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col-card{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col-card{
    width: 100%;
    margin: 0 0 .5rem 0;
  }
}
/*Cards Parallax*/
.cada-col{
	padding:  2%;
	margin-bottom: 5%;
}
.cada-card{
	border-radius: 30px;
	padding-bottom: 2%;
	background-color: rgba(0,0,0,.6);
}

.img-rel{
	padding-top: 2%;
	width: 60%;
}

.ocupacao{
	color: white;
	padding-top: 5%;
	font-style: italic;
}
blockquote{
	text-align: left;
	color: white;
	border-left: 5px solid white;
}

/* CONFIGURAÇÔES  Paralx VIDEO*/

#video-p{
	top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.video-container {
    height: 600px;
}

.video-parallax {
    position: fixed;
}

/* CONFIGURAÇÔES  FAQ*/
.FAQ{background-color: white;}

/* CONFIGURAÇÔES  Rodapé*/
#map {
        height: 300px;
        width: 100%;
       }

footer a{
 	text-decoration: none;
 	display: inline;
}

@media screen and (max-width: 64rem){
  .f{font-size: 1.5em;}
}

@media screen and (max-width: 48rem){
  .f{font-size: 1.5em;}
}

@media screen and (max-width: 32rem){
  .f{font-size: 1.2em;}
}

.copyright{	background-color:rgb(207,216,220); }